body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

hr{
    width: 1800px;
}


.about-mk{
    width:1350px;
    text-align: center;
    
}

.abt-mk{
    text-align: center;
    text-decoration: underline;
    font-size: 55px;
    width:1350px;


}